

<!-- appointments/index.html -->
{% extends 'base.html' %}

{% block content %}
  <h2>My Appointments</h2>
  <ul>
    {% for appointment in appointments %}

    <li>
      <strong>Date:</strong> {{ appointment.date }}<br>
      <strong>Time:</strong> {{ appointment.time|default:"Time not set" }}<br>
      <strong>Design:</strong> {% if appointment.flash %}{{ appointment.flash.name }}{% else %}No Design Selected{% endif %}<br>
      <strong>Notes:</strong> {{ appointment.notes }}<br>
      <a href="{% url 'appointment_delete' appointment.pk %}" class="btn red">Delete</a>
      </li>
    {% empty %}
      <li>No appointments found.</li>
    {% endfor %}
  </ul>
{% endblock %}
