<!-- templates/appointments/new.html -->
{% extends 'base.html' %}

{% block content %}
  <h2>Book an Appointment</h2>
  <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <button type="submit">Book Appointment</button>
  </form>
  <!-- Calendly badge widget begin -->
<link href="https://assets.calendly.com/assets/external/widget.css" rel="stylesheet">
<script src="https://assets.calendly.com/assets/external/widget.js" type="text/javascript" async></script>
<script type="text/javascript">window.onload = function() { Calendly.initBadgeWidget({ url: 'https://calendly.com/sadiefiss/30min', text: 'Schedule time with me', color: '#dee986', textColor: '#ffffff', branding: true }); }</script>
<!-- Calendly badge widget end -->
{% endblock %}
