{% extends 'base.html' %}

{% load static %}  <!-- Correct usage of the static tag -->

{% block content %}
<div class="light-periwinkle-text">  <!-- This will apply the color to all content within the div -->
  <h2>Available Tattoo Designs</h2>
  <div class="row">  <!-- Using Materialize's grid system for layout -->
    {% for flash in flashes %}
      <div class="col s12 m6">  <!-- Correct column sizes for Materialize grid -->
        <p>Debug: {{ flash.name }}</p>
        <div class="col s12 center-align">
          <img src="{% static 'images/flash.png' %}" alt="Flash Tattoo Design" class="header-image">

  

      </div>
        <p>{{ flash.description }}</p>
      </div>
    {% empty %}
      <p>No designs available at the moment.</p>
    {% endfor %}
  </div>
</div>  <!-- Close the light-periwinkle-text div here -->
{% endblock %}
