{% extends 'base.html' %}

{% load static %}  <!-- Correct usage of the static tag -->

{% block content %}
<div class="light-periwinkle-text">  <!-- This will apply the color to all content within the div -->
  <h2>Available Tattoo Designs</h2>
  <div style="font-family: 'Arial, sans-serif'; color: rgb(10, 0, 0); background-color: rgb(205, 93, 93); padding: 10px;">
    <p>Updated Flash Info 9/20</p>
    <p>Happy September! To celebrate 10 years of flash books I am resurrecting 1000s of old flashes.</p>
    <p>If you would like to pick on the day, many flashbooks will be available to view on the day which will have my most recent drawings.</p>
    <p>The following pages of drawings represent less than half of the available flashes, but may help you build your idea. We can do the flash exactly as is or edit the colors and shape / size. Minor edits and color changes are not considered custom pieces.</p>
    <p>Combinations of multiple images are the easiest way for me to create a custom piece for you. Some pieces with a lot of details will have a minimum size, but I can make a new, less complicated version. Feel free to pull imagery from pieces that I have already done before to build your design concept. You may send photo references (i.e. your house growing up) but please don't send images of other artists work.</p>
    <p>I am happy to freehand (draw on) some pieces like dragons and stars, floral designs, castles or whatever needs to be fit onto a specific spot. Some characters may look better stenciled.</p>
    <p>I will not do the exact same tattoo I have already done, but will take on new versions or color schemes.</p>
  </div>
  <div class="row">  <!-- Using Materialize's grid system for layout -->
    {% for flash in flashes %}
      <div class="col s12 m6">  <!-- Correct column sizes for Materialize grid -->
        <p>Debug: {{ flash.name }}</p>
        <div class="col s12 center-align">
          <img src="{% static 'images/flash.png' %}" alt="Flash Tattoo Design" class="header-image">

  

      </div>
        <p>{{ flash.description }}</p>
      </div>
    {% empty %}
      <p>No designs available at the moment.</p>
    {% endfor %}
  </div>
</div>  <!-- Close the light-periwinkle-text div here -->
{% endblock %}
