{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>RITA SALT</title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">
</head>
<body>
  <header class="navbar-fixed">
    <nav>
      <div class="nav-wrapper">
        <ul>
          <li><a href="{% url 'home' %}" class="left brand-logo">Rita Salt</a></li>
          <ul class="right"></ul>
          {% if user.is_authenticated %} 
            <li><a href="{% url 'book_appointment' %}">Book Appointment</a></li>
            <li><a href="{% url 'flashes' %}">View Flash</a></li>
            <form action="{% url 'logout' %}" method="POST">
              {% csrf_token %}
              <button type="submit" class="btn">Log Out</button>
          </form>
          {% else %}
          <!-- Optionally, add a sign-up link here if you have a sign-up view -->
            <li><a href="{% url 'signup' %}">Sign Up</a></li>
            <!-- log In optioh here -->
            <li><a href="{% url 'login' %}">log in</a></li>
            <!-- log In optioh here -->
      
          {% endif %}
        </ul>
      </div>
    </nav>
  </header>
  <main class="container">
    {% block content %}
    {% endblock %}
  </main>
  <footer class="page-footer">
    <div class="right">All Rights Reserved, &copy; 2024 RITA SALT &nbsp;</div>
  </footer>
</body>
</html>
